.container {
    max-width: 1360px;
}

.home-transparent-header main {
    top: -130px;
    position: relative;
}

.home-transparent-header:not(.is-scrolled) .shopify-section--announcement-bar {
    position: relative;
    z-index: 1;
}

.home-transparent-header:not(.is-scrolled) .announcement-bar {
    background-color: transparent;
    border-bottom-color: transparent;
}

.home-transparent-header:not(.is-scrolled) .header {
    background-color: transparent;
}

.home-transparent-header:not(.is-scrolled) .nav-bar {
    background-color: transparent;
    border-bottom-color: transparent;
}

.home-transparent-header:not(.is-scrolled) .nav-bar:after {
    background: transparent;
}

.home-transparent-header:not(.is-scrolled) .nav-bar__link {
    color: #fff;
}

.home-transparent-header:not(.is-scrolled) .nav-bar__link:hover, .home-transparent-header:not(.is-scrolled) .nav-bar__link:focus {
    color: var(--accent-color);
}

.page-type-subscription {
    max-width: 1150px;
}

.page-type-subscription .page__content {
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    color: #475467;
    margin-bottom: 64px;
}

.page-type-subscription .page__header {
    margin-bottom: 20px;
}

.product-info__block-item--attachment {
    margin-bottom: 20px;
}

.product-form__info-item--attachment + .product-form__info-item--attachment {
    margin-top: 20px;
    display: block;
}

.form__input-wrapper {
    margin-bottom: 24px;
}

.form__input-wrapper .error {
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.header__action-item-content {
    position: relative;
}

.header__action-item-link.header__account-icon.hidden-desk {
    display: flex;
    align-items: center;
}

input::file-selector-button {
    text-align: center;
    line-height: 48px;
    font-weight: var(--text-font-bolder-weight);
    font-size: var(--base-text-font-size);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 0 30px;
    transition: background .25s ease-in-out, color .25s ease-in-out, box-shadow .25s ease-in-out;
    display: inline-block;
    position: relative;
    background: var(--secondary-button-background);
    color: var(--secondary-button-text-color);
}

input::file-selector-button:hover {
    background: rgba(var(--secondary-button-background-rgb), .8);
}

.footer__newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer__newsletter-form button {
    margin-top: 0;
}

.footer__link-item {
    display: block;
    color: var(--Secondary-300, #A4BCFD);
    font-weight: 600;
    line-height: 24px;
}

.footer__aside-item--localization, .footer__aside-item--copyright {
    color: var(--Gray-300, #D1D1D6);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.social-media__item-list {
    gap: 14px;
}

.social-media__item svg {
    opacity: 1;
    fill: #fff;
}

[data-section-type="blog-post"] .social-media__item svg,
[data-section-type="blog-post"] .social-media__item * {
    fill: #A0A0AB;
}

[data-section-type="blog-post"] .social-media__item svg {
    width: 20px;
}

[data-section-type="blog-post"] .social-media__item {
    margin: 0;
}

.card__section--tight {
    padding: 5px;
}

.article__image-wrapper {
    margin-bottom: 32px;
}

[data-section-type="blog-post"] .social-media__item a {
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D1D1D6);
    background: var(--Base-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(4, 54, 55, 0.05);
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__aside-item {
    justify-content: end;
}

.form__field {
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    box-shadow: 0px 1px 2px 0px rgba(4, 54, 55, 0.05);
}

.form__field:focus {
    border: 1px solid var(--Secondary-300, #A4BCFD);
    box-shadow: 0px 1px 2px 0px rgba(45, 49, 166, 0.05), 0px 0px 0px 4px #E0EAFF;
}

.button {
    border-radius: 8px;
}

.slideshow__buttons {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

[data-section-type=featured-collection] .product-item {
    padding: 0 16px 0 0;
    background: transparent;
}

[data-section-type=featured-collection] .product-item:after {
    box-shadow: none;
}

[data-section-type=featured-collection] .product-item-inner {
    flex: 1;
    display: flex;
    flex-flow: column;
    border-radius: 16px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: #FFF;
    box-shadow: 0px 12px 16px -4px rgba(68, 76, 231, 0.08), 0px 4px 6px -2px rgba(68, 76, 231, 0.03);
    padding: 24px;
    transition: all 0.3s ease-in-out;
}

[data-section-type=featured-collection] .product-item-inner:hover {
    background: var(--Secondary-600, #444CE7);
    color: #fff;
}

[data-section-type=featured-collection] .product-item-inner:hover * {
    color: #fff;
}

[data-section-type=featured-collection] .product-item__info-inner {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

[data-section-type=featured-collection] .product-item__vendor {
    display: none;
}

[data-section-type=featured-collection] .product-item__price-list {
    display: none;
}

[data-section-type=featured-collection] .product-item__learn-more-link {
    color: var(--Secondary-600, #444CE7);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
}

[data-section-type=featured-collection] .product-item__description {
    color: var(--Gray-600, #475467);
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

[data-section-type=featured-collection] .product-item__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

[data-section-type=blog-posts] {
    background: var(--Gray-25, #FCFCFD);
    margin: 0;
}

[data-section-type=blog-posts] .section__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.article-item__image-container {
    aspect-ratio: 1.5;
    border-radius: 12px 12px 0 0;
    margin-bottom: 32px;
}

.article-item__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
}

.article-item__excerpt {
    margin-top: 0;
    color: var(--Gray-600, #475467);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.article-item__learn-more {
    color: var(--Secondary-600, #444CE7);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.article-item:hover .article-item__title {
    color: inherit;
}

.search-bar--blog {
    position: relative;
    margin-bottom: 32px;
}

.search-bar--blog .search-bar__submit {
    position: absolute;
    background: none;
    color: #70707B;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.search-bar--blog .search-bar__submit .icon--search {
    top: -2px;
    width: 16px;
    height: 16px;
}

.search-bar--blog .search-bar__input {
    padding: 10px 14px 10px 40px;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D1D1D6);
    background: var(--Base-White, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(4, 54, 55, 0.05);
}

.search-bar--blog .search-bar__input::placeholder {
    color: var(--Gray-500, #70707B);
}

[data-section-type=blog] h1 {
    margin: 0 auto;
}

#contact_form {
    text-align: left;
}

#contact_form h2 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.72px;
}

#contact_form .form__header p {
    color: var(--Gray-700, #3F3F46);
    font-size: 20px;
    line-height: 30px;
}

#contact_form .form__submit {
    width: 100%;
    margin: 32px 0;
}

.pagination__prev, .pagination__next {
    color: var(--Secondary-600, #444CE7);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 20px;
    border-radius: 8px;
    background: var(--Secondary-25, #F5F8FF);
    box-shadow: 0px 1px 2px 0px rgba(45, 49, 166, 0.10);
}

.pagination__nav-item.is-active {
    border-radius: 8px;
    background: var(--Gray-50, #FAFAFA);
    box-shadow: 0px 1px 2px 0px rgba(4, 54, 55, 0.05), 0px 0px 0px 4px #E4E4E7;
    color: #000;
}

.card {
    border: none;
    background: transparent;
}

@media screen and (max-width: 1279px) {
    #my-account-linklist {
        right: -10px;
    }
}

@media screen and (max-width: 999px) {
    [data-section-type=featured-collection] {
        position: relative;
        padding-bottom: 100px;
    }

    [data-section-type=featured-collection] .section__header .button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    [data-section-type=featured-collection] .product-list--scrollable .product-item {
        border: none;
    }

    [data-section-type=blog-posts] {
        position: relative;
        padding-bottom: 100px;
    }

    [data-section-type=blog-posts] .section__header .button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #contact_form {
        margin-top: 32px;
    }
}

@media screen and (max-width: 640px) {
    #my-account-linklist {
        border-radius: 3px;
        width: auto;
        min-width: 160px;
        top: calc(100% + 15px);
        left: auto;
        right: -50px;
        box-shadow: 0 1px 5px 2px #0000001a;
    }


    [data-section-type=featured-collection] .section__header .button,
    [data-section-type=blog-posts] .section__header .button {
        left: 16px;
        right: 16px;
        transform: none;
    }

    .search-bar--blog.search-bar {
        opacity: 1;
    }
}

@media screen and (min-width: 641px) {

    .home-transparent-header main {
        top: -200px;
    }

    .footer__title {
        display: none;
    }

    .footer__block-item--newsletter .footer__title {
        display: block;
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        text-transform: none;
    }

    .footer__wrapper {
        text-align: center;
    }

    .footer__logo-link {
        margin-bottom: 30px;
        display: inline-block;
    }

    .footer__linklist {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .footer__block-list {
        flex-direction: column;
        align-items: center;
    }

    .footer__block-item--newsletter {
        max-width: 508px;
        width: 100%;
        padding: 24px;
    }

    .h1, .rte h1 {
        font-size: 36px;
        line-height: 1.2222;
    }

    .h2, .rte h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.8px;
    }

    .slideshow__buttons {
        flex-flow: row;
    }

    [data-section-type=featured-collection] .product-list {
        background: none;
    }

    [data-section-type=featured-collection] .product-list:before {
        border: none;
    }

    .block-list__item > :first-child {
        margin: 0 16px 32px;
    }

    .form__input-wrapper {
        margin-bottom: 0;
    }

    .form__input-row:not(:last-child) {
        margin-bottom: 24px;
    }

    .form__input-row {
        margin: 0 -12px;
    }

    .form__input-row > * {
        margin-left: 12px;
        margin-right: 12px;
    }

    .search-bar--blog {
        width: 280px;
    }
}

@media screen and (min-width: 1000px) {
    .home-transparent-header main {
        top: -260px;
    }

    .slideshow__title {
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -1.2px;
    }

    .slideshow__content {
        font-size: 24px;
        line-height: 30px;
    }

    .footer__block-item--links {
        max-width: none;
    }

    .footer__aside {
        border-top: 1px solid var(--footer-body-text-color);
        padding-top: 30px;
    }

    .footer__aside-title {
        display: none;
    }

    .footer__linklist {
        flex-flow: row;
    }

    .footer__block-item--newsletter {
        flex-basis: auto;
    }

    [data-section-type=featured-collection] .product-item {
        padding: 0 22px 0 10px;
    }

    [data-section-type=featured-collection] .product-item-inner {
        padding: 40px;
    }

    [data-section-type=featured-collection] .product-item__title {
        margin-bottom: 12px;
        text-align: center;
        font-size: 30px;
        line-height: 38px;
    }

    [data-section-type=featured-collection] .product-item__learn-more-link {
        text-align: right;
    }

    [data-section-type=blog-posts] {
        padding: 96px 0;
    }

    [data-section-type=blog-posts] .section__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -0.8px;
    }

    [data-section-type=blog-posts] .section__header {
        margin-bottom: 64px;
    }

    #contact_form h2 {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.8px;
    }

    [data-section-type=blog] h1 {
        margin: 0 auto;
    }

    [data-section-type="blog-post"] h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.96px;
    }
}