.container--partners h2 {
    color: var(--Gray-600, #475467);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}


.container--partners .partners {
    background: none;
}

.container--partners .partners:before {
    border: none;
}

.container--partners .partner {
    padding: 0 14px 0 0;
    background: none;
}

.container--partners .partner:after {
    box-shadow: none;
}

.container--partners .partner-inner {
    padding: 32px 0;
    text-align: center;
}

@media screen and (max-width: 999px) {
    .container--partners .product-list--scrollable .product-item {
        border: none;
    }
}

@media screen and (min-width: 1000px) {

    .container--partners .partners {
        padding-bottom: 55px;
    }

    .container--partners .partner {
        padding: 0 16px;
    }

    .container--partners .flickity-prev-next-button {
        bottom: 0;
        top: auto;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        background: #fff;
    }

    .container--partners .flickity-prev-next-button svg {
        fill: #475467;
    }

    .container--partners .flickity-prev-next-button.next {
        left: calc(50% + 40px);
        right: 0;
    }

    .container--partners .flickity-prev-next-button.previous {
        left: calc(50% - 40px);
        right: 0;
    }
}