.product-info__block-item--attachment {
    margin-bottom: 20px;
}


.form__input-wrapper .error {
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}