.section--packages {
    margin: 0;
    padding: 50px 0;
}

/* Container for the three packages */
.package-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    flex-wrap: wrap;
}

/* Styling for each package box */
.package-box {
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.package-box:hover {
    background: var(--Secondary-500, #6172F3);
    border: 1px solid #6172F3;
}

.package-box:hover .package-title {
    color: #fff;
}

.package-box:hover .package-price {
    color: #fff;
}

.package-box:hover .package-description {
    color: #fff;
}

/* Icon styling */
.package-icon {
    font-size: 40px;
    color: #8098f9; /* Light blue */
    margin-bottom: 10px;
}

/* Title container to ensure equal height */
.title-container {
    height: 40px; /* Ensures alignment between all titles */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Blue title styling */
.package-title {
    font-size: 18px;
    color: #8098f9; /* Light blue */
    font-weight: bold;
}

/* Price styling */
.package-price {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

/* Button styling */
.learn-more-button {
    background-color: #fb913c; /* Orange */
    color: white !important; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 100%; /* Full width */
    margin: 0 auto 30px; /* Centers button and adds bottom margin */
    text-align: center;
    text-decoration: none; /* Remove underline */
    display: inline-block;
}

.learn-more-button:hover {
    background-color: #e86b1e;
}

/* Paragraph styling directly under the button */
.bold-paragraph {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin: 10px 0 20px; /* Proper spacing between elements */
    text-align: center;
}

/* Custom bullet point styling */
.package-box ul {
    margin-left: 36px;
    list-style: none;
    padding: 0;
    text-align: left;
}

.package-box ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.package-box ul li:before {
    content: url("check-icon.svg");
    background: none;
    left: -36px;
    width: 24px;
    height: 24px;
    top: 3px;
}

.package-description {
    text-align: left;
}

.filter-container {
    display: flex;
    justify-content: center;
}

.filter-container-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Primary-200, #FEDF89);
    background: var(--Primary-50, #FFFAEB);
}

.filter-button {
    width: 100%;
    border-radius: 8px;
    padding: 10px 14px;
    color: var(--Gray-700, #344054);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.filter-button:hover,
.filter-button--active {
    color: #FFF;
    background: var(--Secondary-500, #6172F3);
    box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

.package-container--with-filter .package-box {
    display: none;
}

.package-container--with-filter .package-box.show {
    display: block;
}

@media screen and (min-width: 641px) {
    .section--packages {
        margin: 0;
        padding: 60px 0;
    }

    .package-container {
        grid-template-columns: 1fr 1fr;
    }

    .filter-container-inner {
        flex-flow: row;
    }

    .filter-button {
        width: auto;
    }
}

@media screen and (min-width: 1000px) {
    .package-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .package-container.two-columns {
        grid-template-columns: 1fr 1fr;
    }
}
