/* Main container for subscription plans */
.subscription-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    align-items: stretch;
    margin-top: 40px;
}

/* Individual plan box styling */
.plan-box {
    width: 100%; /* Adjusted width to fit side-by-side */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid #ddd;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #475467; /* Dark grey */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* Icon and title section */
.plan-header {
    text-align: center;
    width: 100%;
}

.plan-icon {
    font-size: 40px;
    color: #8098f9; /* Light blue */
}

.plan-icon img {
    margin: 0 0 20px;
}

.subscription-container .plan-title {
    color: #6172F3;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 8px;
}

/* Price styling */
.plan-price {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin: 0 0 24px;
    line-height: 38px;
    letter-spacing: -0.64px;
}

/* Subscribe Now button */
.subscribe-button {
    background-color: #fb913c; /* Orange */
    color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%; /* Full width of the container */
    max-width: none;
    margin-bottom: 48px;
    text-align: center;
}

.subscribe-button:hover {
    background-color: #e86b1e;
}

/* Bold black text under the button */
.plan-box .bold-paragraph {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 24px;
    color: #101828;
    text-align: center;
    font-style: normal;
    line-height: 38px;
}

.plan-box p:not(:last-child){
    margin: 0 0 24px;
}

/* Plan content section */
.plan-content {
    width: 100%; /* Full width to ensure text alignment */
    text-align: left;
    margin-top: 10px;
}

.plan-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Bullet points */


.plan-box ul {
    list-style: none;
    padding: 0;
    margin-left: 36px;
}

.plan-box ul li:not(:last-child) {
    line-height: 24px;
    margin-bottom: 16px;
}

.plan-box ul li:before {
    content: url("check-icon.svg");
    background: none;
    left: -36px;
    width: 24px;
    height: 24px;
    top: 3px;
}

@media screen and (min-width: 1000px) {
    .subscription-container {
        grid-template-columns: 1fr 1fr;
    }
}