.product-info__block-item--attachment {
    margin-bottom: 20px;
}

.form__input-wrapper .error {
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.header__action-item-content {
    position: relative;
}

.header__action-item-link.header__account-icon.hidden-desk {
    display: flex;
    align-items: center;
}

input::file-selector-button {
    text-align: center;
    line-height: 48px;
    font-weight: var(--text-font-bolder-weight);
    font-size: var(--base-text-font-size);
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 0 30px;
    transition: background .25s ease-in-out, color .25s ease-in-out, box-shadow .25s ease-in-out;
    display: inline-block;
    position: relative;
    background: var(--secondary-button-background);
    color: var(--secondary-button-text-color);
}

input::file-selector-button:hover {
    background: rgba(var(--secondary-button-background-rgb), .8);
}

.footer__block-list {
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    #my-account-linklist {
        right: -10px;
    }
}

@media screen and (max-width: 640px) {
    #my-account-linklist {
        border-radius: 3px;
        width: auto;
        min-width: 160px;
        top: calc(100% + 15px);
        left: auto;
        right: -50px;
        box-shadow: 0 1px 5px 2px #0000001a;
    }
}

@media screen and (min-width: 641px) {
    .footer__title {
        display: none;
    }

    .footer__wrapper {
        text-align: center;
    }

    .footer__logo-link {
        margin-bottom: 30px;
        display: inline-block;
    }

    .footer__linklist {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
}

@media screen and (min-width: 1000px) {

    .footer__block-item--links {
        max-width: none;
    }

    .footer__aside {
        border-top: 1px solid var(--footer-body-text-color);
        padding-top: 30px;
    }

    .footer__aside-title {
        display: none;
    }

    .footer__linklist {
        flex-flow: row;
    }
}